body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: #4F2426;

    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    font-size: 36px;
    color: #4F2426;
}

button {
    align-self: flex-start;
    margin: auto 0px auto auto;
    padding: 5px 10px;
    white-space: nowrap;

    font-size: 36px;
    color: #4F2426;
    background-color: rgb(255, 255, 255, 0.4);
    border-color: transparent;
}

.header {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1800px;
}
    
.navi {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navi img {
    height: 100px;
    width: auto;
}

.navi ul {
    display: flex;
    margin-left: auto;
    gap: 40px;
}
    
.carousel {
    background-image: url("./images/soundtrack.jpg");
}

.action {
    background-image: url("./images/banner.jpg");
}

.carousel, .action {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 30%;

    display: flex;
    flex: 0 1 auto;
    max-width: 1800px;
    padding: 20px;
}

.car-text, .act-text {
    background-color: rgb(255, 255, 255, 0.4);
    padding: 5px;
    margin: 5px 200px 5px 5px;
}

.carousel h1, .act-text h1 {
    font-size: 36px;
    margin: 5px 0px;
    color: #4F2426;
}

.carousel p, .act-text p {
    font-size: 24px;
    margin: 5px 0px;
}

.cont-tiles {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 1800px;
}

.tile {
    display: flex;
    flex-direction: column;
    width: 215px;
    margin: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2)
}

.tile img {
    width: 200px;
    height: auto;
    flex: 0 0 auto;
}

.tile p {
    overflow-wrap: break-word;
    color:#f9faf8;
    text-align: center;
    align-self: center;
    margin: 5px 10px;
}

.quote {
    max-width: 1800px;
    background: rgb(255, 255, 255, 0.6);
    color: #4F2426;
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote1, .quote2 {
    border: 2px solid #4F2426;
    max-width: 1000px;
    padding: 20px;
}

.quote2 {
    margin-left: auto;
}

.quote h1 {
    font-size: 20px;
    font-weight: 500;
}

.quote p {
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}

.footer {
    margin: 10px 0px;
    color: #f9faf8;
}